<div ng-controller="answerController" class="container">
<a href="#!/dashboard">Home</a>
<a href="#!/">Logout</a>
<h3>{{ showUser.question }}</h3>
<h6>{{ showUser.description }}</h6>
  <form ng-submit="add()">
    <div class="form-group">
      <h6>{{ errorMsg.errors.answer.message }}</h6>
      <label for="answer">Your Answer:</label>
      <input type="text" class="form-control" ng-model="item.answer" placeholder="Type in Answer">
    </div>
    <div class="form-group">
      <h6>{{ errorMsg.errors.description.message }}</h6>
      <label for="detail">Supporting detail for your answer (optional):</label>
      <input type="text" class="form-control" ng-model="item.detail" placeholder="Type in Detail">
    </div>
    <input type="button" href="#!/dashboard" value="Cancel">
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>
